/* Used to enable fixed navbar */
body {
	padding-top: 60px;
}

.input {
	margin-right: 5px;
}

.page-header {
	margin-top: 0;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 15px;
}

/* Used for language selector in navbar */
.language{
	margin-right: 5px;
	padding-bottom: 2px;
}

.jumbotron {
	margin-top: 10px;
}
.middle{
	text-align: center;
}
